<!DOCTYPE html>
<html {{ site.language_attributes }} {{ 'front-page' == namespace and modal ? ' style="overflow: hidden; height: 100%;"' | raw }}>

	<head>

		<meta charset="{{ site.charset }}">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ site.description }}">
		<title>{{ site.name }} | {{ post.title }}</title>

		{{ function( 'wp_head' ) }}
	</head>


	<body class="{{ body_class }}{{ body_classes ? ( ' ' ~ body_classes | join( ' ' ) ) }}{{ 'front-page' == namespace and modal ? ' modal--is-open' }}">
		{{ function('do_action', 'wp_body_open') }}

		{{ include('components/header.twig') }}

		<main>
			{% block content %}

			{% endblock %}
		</main>

		<footer class="Site-footer"></footer>
		{{ function('wp_footer') }}
	</body>
</html>
